// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-text {
  text-align: center;

  .title {
    display: none;
  }

  .more-info {
  }

  .updated-at,
  .more-info {
      display: none;
  }
}
